@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant retro (&:where(.retro, .retro *));
@custom-variant neon (&:where(.neon, .neon *));

@theme {
  /* Breakpoints */
  --breakpoint-mobile: 20rem; /* 320px */
  --breakpoint-tablet: 48rem; /* 768px */
  --breakpoint-laptop: 64rem; /* 1024px */
  --breakpoint-desktop: 90rem; /* 1440px */

  /* Light */
  --color-surface-light: #f8fafc;
  --color-on-surface-light: #1e293b;
  --color-primary-light: #f59e0b;
  --color-secondary-light: #64748b;
  --color-accent-light: #0ea5e9;
  --color-border-light: #e2e8f0;
  --color-on-primary-light: #ffffff;

  /* Dark */
  --color-surface-dark: #1a202c;
  --color-on-surface-dark: #e2e8f0;
  --color-primary-dark: #f59e0b;
  --color-secondary-dark: #94a3b8;
  --color-accent-dark: #38bdf8;
  --color-border-dark: #2d3748;
  --color-on-primary-dark: #1e293b;

  /* Retro */
  --color-surface-retro: #ffebcd;
  --color-on-surface-retro: #5d4037;
  --color-primary-retro: #884434;
  --color-secondary-retro: #8d6e63;
  --color-accent-retro: #f4a261;
  --color-border-retro: #d7ccc8;
  --color-on-primary-retro: #ffffff;

  /* Neon */
  --color-surface-neon: #0d0d0d;
  --color-on-surface-neon: #ffffff;
  --color-primary-neon: #12cc34;
  --color-secondary-neon: #00ffbb;
  --color-accent-neon: #ffcc00;
  --color-border-neon: #ff00ff;
  --color-on-primary-neon: #000000;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.light {
  --background: var(--color-surface-light);
  --foreground: var(--color-on-surface-light);
  --primary: var(--color-primary-light);
  --secondary: var(--color-secondary-light);
  --accent: var(--color-accent-light);
  --border: var(--color-border-light);
  --on-primary: var(--color-on-primary-light);
}

:root,
.dark {
  --background: var(--color-surface-dark);
  --foreground: var(--color-on-surface-dark);
  --primary: var(--color-primary-dark);
  --secondary: var(--color-secondary-dark);
  --accent: var(--color-accent-dark);
  --border: var(--color-border-dark);
  --on-primary: var(--color-on-primary-dark);
}

.retro {
  --background: var(--color-surface-retro);
  --foreground: var(--color-on-surface-retro);
  --primary: var(--color-primary-retro);
  --secondary: var(--color-secondary-retro);
  --accent: var(--color-accent-retro);
  --border: var(--color-border-retro);
  --on-primary: var(--color-on-primary-retro);
}

.neon {
  --background: var(--color-surface-neon);
  --foreground: var(--color-on-surface-neon);
  --primary: var(--color-primary-neon);
  --secondary: var(--color-secondary-neon);
  --accent: var(--color-accent-neon);
  --border: var(--color-border-neon);
  --on-primary: var(--color-on-primary-neon);
}

body {
  @apply bg-[var(--background)] font-sans text-[var(--foreground)];
}

.header {
  @apply tablet:px-8 tablet:py-4 tablet:text-2xl max-h-[5vh] px-4 py-2 text-lg;
}

.container {
  @apply tablet:p-8 tablet:max-w-[var(--breakpoint-tablet)] laptop:max-w-[var(--breakpoint-laptop)] desktop:max-w-[var(--breakpoint-desktop)] mx-auto max-h-[95vh] max-w-[var(--breakpoint-tablet)] p-4;
}

.container-sm {
  @apply tablet:p-8 mx-auto max-h-[95vh] max-w-lg p-4;
}

.heading-1 {
  @apply tablet:text-[1.625rem] tablet:leading-[1.4] laptop:text-[2.25rem] desktop:text-[2.5rem] text-[1.5rem] leading-[1.3] font-semibold tracking-[-0.01em];
}
.heading-2 {
  @apply tablet:text-[1.375rem] laptop:text-[1.75rem] desktop:text-[2rem] text-[1.25rem] leading-[1.3] font-semibold tracking-[-0.01em];
}
.heading-3 {
  @apply tablet:text-[1.125rem] laptop:text-[1.5rem] desktop:text-[1.75rem] text-[1.125rem] leading-[1.3] font-semibold tracking-[-0.005em];
}
.body-1 {
  @apply tablet:text-[0.9375rem] tablet:leading-[1.6] laptop:text-[1.25rem] desktop:text-[1.375rem] text-[0.875rem] leading-[1.5] font-normal;
}
.body-2 {
  @apply tablet:text-[0.8125rem] tablet:leading-[1.5] laptop:text-[1rem] desktop:text-[1.125rem] text-[0.75rem] leading-[1.4] font-normal;
}
.caption {
  @apply tablet:text-[0.875rem] laptop:text-[0.875rem] desktop:text-[1rem] text-[0.6875rem] leading-[1.4] font-normal;
}

.form {
  @apply tablet:mt-10 tablet:gap-3 mt-6 flex w-full flex-col gap-2; /* Responsive margin-top and gap */
}

.input {
  @apply tablet:p-3 tablet:text-lg rounded border-2 border-slate-300 bg-slate-950 p-2 text-base font-light text-white transition-colors focus:border-[var(--primary)] focus:outline-none disabled:opacity-50; /* Responsive padding and text size */
}

.button {
  @apply rounded-md bg-[var(--primary)] px-4 py-3 text-[var(--on-primary)] shadow-md transition-all hover:bg-[var(--primary)]/80;
}

.link {
  @apply font-medium text-[var(--primary)] hover:underline;
}

.list {
  @apply tablet:mt-10 tablet:text-2xl mt-6 grid list-none text-center text-xl; /* Responsive margin-top and text size */
}

.list-item {
  @apply tablet:p-5 border-b border-[var(--border)] p-3 last:border-none; /* Responsive padding */
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

/* RGB 값 설정 */
.light {
  --primary-rgb: 245, 158, 11;
}

.dark {
  --primary-rgb: 245, 158, 11;
}

.retro {
  --primary-rgb: 255, 152, 0;
}

.neon {
  --primary-rgb: 255, 0, 255;
}

@keyframes glowPulse {
  0%,
  100% {
    box-shadow: 0 0 0 0 rgba(var(--primary-rgb), 0.2);
    background-color: rgba(var(--primary-rgb), 0.1);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(var(--primary-rgb), 0.1);
    background-color: rgba(var(--primary-rgb), 0.2);
  }
}

.animate-slide-up {
  animation: slideUp 0.5s ease-out;
}

.animate-slide-down {
  animation: slideDown 0.5s ease-out;
}

.animate-glow-pulse {
  animation: glowPulse 2s infinite;
}

.hover-slide {
  animation-play-state: paused;
}

.group:hover .hover-slide {
  animation: slideText 2s linear infinite;
  animation-play-state: running;
}

.progress-bar {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes bar-animation1 {
  0%,
  100% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  33% {
    transform: scaleY(2);
  }
  66% {
    transform: scaleY(3);
  }
}

@keyframes bar-animation2 {
  0%,
  100% {
    transform: scaleY(2);
    transform-origin: bottom;
  }
  33% {
    transform: scaleY(3);
  }
  66% {
    transform: scaleY(1);
  }
}

@keyframes bar-animation3 {
  0%,
  100% {
    transform: scaleY(3);
    transform-origin: bottom;
  }
  33% {
    transform: scaleY(2);
  }
  66% {
    transform: scaleY(1);
  }
}

.bar-animation1 {
  animation: bar-animation1 1.3s linear infinite;
}

.bar-animation2 {
  animation: bar-animation2 1.1s linear infinite;
}

.bar-animation3 {
  animation: bar-animation3 1.2s linear infinite;
}
